<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimateView integration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9835BECB1E7F696300F7F21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9835BEE41E7F696300F7F21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9835BEEF1E7F696300F7F21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
